.MainRequestContainer {
    flex: 4;
    background-color: rgb(237, 234, 234);
}

.RequestsTable {
    width: 80%;
    background-color: white;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.requestsButtonnotApproved {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: lightpink;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.requestsButtonapproved {
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: green;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}