.MainProfileContainer {
    flex: 4;
    background-color: rgb(237, 234, 234);
  }

  .viewProfileContainer {
    width: 60%;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 10px auto;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .userProfile {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .userAvatar img {
    width: 130px;
    height: 150px;
    border-radius: 50%;
  }
  
  .userName {
    margin: 10px 0;
  }
  
  .userEmail {
    margin: 5px 0 20px;
  }
  
  .aboutSection {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .personalDetails,
  .addressSection {
    margin-bottom: 30px;
  }
  
  .formGroup {
    margin-bottom: 20px;
  }
  
  .formLabel {
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  
  .formInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
  }
  
  .buttonContainer {
    margin-top: 20px;
    text-align: center;
  }
  
  .cancelButton,
  .updateButton {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px; /* Add spacing between buttons */
  }
  
  .cancelButton {
    background-color: #ccc;
    color: #fff;
  }
  
  .updateButton {
    background-color: #007bff;
    color: #fff;
  }
.non-editable-field {
  background-color: #f2f2f2;
  color: #888888;
  border: none;
  outline: none;
}