.MainProfileContainer {
    flex: 4;
    background-color: rgb(237, 234, 234);
}

.viewProfileContainer {
    width: 55%;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 10px auto;
    padding: 20px;
    box-sizing: border-box;
    transition: box-shadow 0.3s ease;
    perspective: 1000px;
}

.viewProfileContainer:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

.userProfile {
    text-align: center;
    margin-bottom: 20px;
    background: linear-gradient(to bottom right, #ffecd2, #fcb69f);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.userAvatar img {
    border: 2px solid #ffffff;
    width: 130px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.userAvatar img:hover {
    transform: scale(1.5);
}

.userName {
    margin: 10px 0;
    font-weight: 200;
}

.userEmail {
    margin: 5px 0 20px;
    font-weight: 200;
}

.personalDetailsHeading {
    text-align: center;
    font-weight: 200;
}

.aboutSection {
    text-align: center;
    margin-bottom: 20px;
}

.personalDetails,
.addressSection {
    margin-bottom: 30px;
}

.formGroup {
    margin-bottom: 20px;
}

.formLabel {
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
}

.formInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
}

.buttonContainer {
    margin-top: 20px;
    text-align: center;
}

.cancelButton,
.updateButton {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.cancelButton {
    background-color: #ccc;
    color: #fff;
}

.updateButton {
    background-color: #007bff;
    color: #fff;
}

.non-editable-field {
    background-color: #f2f2f2;
    color: #888888;
    border: none;
    outline: none;
}