.navbar{
    margin-top: -15px;
    width: 1650px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px; /* Increase padding for more space */
    font-size: 25px;
    font-family:serif;
}
.navbar-brand,.navbar-toggler{
    margin-left: 5px;
    font-size: 30px; /* Increase font size */
}
body{
  /* background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%); */
  background: #1FA2FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  
  
}
/* AdminPanel.css */

/* Navbar style */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  

  /* Center the nav items */
  .navbar-nav {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-item {
    margin-right: 100px; /* Adjust the margin as needed */
  }
  
  /* Adjust dropdown position if needed */
  .nav-item.dropdown {
    position: relative;
    margin-right: 250px;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
  }
  .vertical-column1{
    height: auto;
    background-color: rgb(207, 60, 209);
    width: 250px;
  }
  .logo{
    width: 100px;
    height: 80px;
  }
  .Main-content1{
    display:flex;
  }
  .unanswered-ques{
    margin-left: 400px;
    margin-top: 50px;
    margin-bottom: 40px;
  }
  
  .moving-img {
    position: fixed; /* Position the image fixed */
    top: 50%; /* Position from the top */
    left: 20px; /* Position from the left */
    transform: translateY(-50%); /* Adjust vertical position */
    z-index: 1000; /* Ensure it's above other content */
  }
  
  /* Adjust the width and height of the image as needed */
  .moving-img {
    width: 400px;
    height: 600px;
    margin-left: -85px;
    margin-top: 190px;
  }
  
  /* Add transition effect to smooth movement */
  .moving-img {
    transition: top 0.3s ease;
  }
  